* {
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    z-index: 5;
    padding: 15px;
    top: 25vh;
}

.rowCenter {
    align-items: center;
    text-align: center;
}

.context h2 {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(8, 2, 2, 0.603);
    color: white;
    z-index: 4;
}

.connectionDot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.classicButton {
    height: 50px;
    width: 150px;
    border-radius: 30px;
}

.classicInput {
    border-radius: 30px;
}

.partyContainer {
    background-color: #fcfcfd;
    height: 100vh;
    width: 100vw;
}

.partyVideoPlayerContainer {
}

.partyTabsContainer {
    height: 50px;
    background-color: #573792;
    overflow: hidden;
}

.partyTab {
    height: 50px;
    width: 50vw;
    float: left;
    text-align: center;
    color: white;
    font-size: 16px;
    padding-top: 10px;
}

.tabContentContainer {
    padding: 5px 10px 5px 10px;
    overflow: auto;
}

.tabNavigator {
    width: 100%;
    height: 50px;
    border-radius: 50px 50px 0px 0px; 
    background-color: #5F5FFC;
    position: fixed;
    bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: center;
}

.navButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

.navButtonSelected {
    background-color: #362968;
    border-radius: 100%;
} 

.chatContainer {
    width: 100%;
    background-color: white;
}

.chatTypeMessageContainer {
    background-color: #6441a4;
    height: 100px;
    padding: 25px;
}

.chatMessagesContainer {
    height: 400px;    
    background-color: white;
}

.queueContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    flex-direction: column;
}

.queueItem {
    padding: 10px;
    border-radius: 20px;
    background-color: #5f5ffc;
    min-height: 85px;
    margin: 5px;
}



.filterSearchContainer {
    width: 100%;
    height: 10%;
}

.clipsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    flex-wrap: wrap;
}

.clip {
    padding: 10px;
    border-radius: 20px;
    background-color: #5f5ffc;
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    flex-grow: 1;
}

.addButton {
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 100%;
    background-color: #fcfcfd;
}

.clipInfo {
    position: absolute;
    bottom: 0;
    color: #fcfcfd;
}

.partyVideoPlayerContainer {
    position: relative;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /*Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    left: 0;
    top: 0;
}

.playerControlsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(red, green, blue, 0.1)
}

.playerControlsContainerButton {
    height: 22px;
    width: 25px;
    margin-left: 8px;
    margin-top: 5px;
}

.partyNavBarContainer {
    height: 40px;
    padding: 5px;
    background-color: rgb(77, 48, 131);
}

.gooey {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: rgba(0, 0, 0, 0.596);
    filter: contrast(20);
    z-index: 6;
    border-radius: 25px;
}
.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #fff;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}
.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}
.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #fff;
    border-radius: 50%;
}
@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

.area {
    background: #6441a4;
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(35, 5, 70, 0.616);
    animation: animate 25s linear infinite;
    top: -150px;
    border-radius: 60px 60px 60px 60px;
}

.circles li:nth-child(1) {
    left: 10%;
    width: 100px;
    height: 250px;
    animation-duration: 8s;
}

.circles li:nth-child(2) {
    left: 20%;
    width: 100px;
    height: 750px;
    animation-duration: 44s;
}

.circles li:nth-child(3) {
    left: 30%;
    width: 100px;
    height: 250px;
    animation-duration: 35s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 100px;
    height: 750px;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 50%;
    width: 100px;
    height: 350px;
    animation-duration: 25s;
}

.circles li:nth-child(6) {
    left: 60%;
    width: 100px;
    height: 550px;
    animation-duration: 8s;
}

.circles li:nth-child(7) {
    left: 70%;
    width: 100px;
    height: 450px;
    animation-duration: 10s;
}

.circles li:nth-child(8) {
    left: 80%;
    width: 100px;
    height: 350px;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 90%;
    width: 100px;
    height: 550px;
    animation-duration: 7s;
}

.circles li:nth-child(10) {
    left: 100%;
    width: 100px;
    height: 750px;
    animation-duration: 20s;
}

.circles li:nth-child(11) {
    left: 110%;
    width: 100px;
    height: 150px;
    animation-duration: 15s;
}

.circles li:nth-child(12) {
    left: 120%;
    width: 100px;
    height: 450px;
    animation-duration: 8s;
}

.circles li:nth-child(13) {
    left: 130%;
    width: 100px;
    height: 250px;
    animation-duration: 45s;
}

.circles li:nth-child(14) {
    left: 140%;
    width: 100px;
    height: 250px;
    animation-duration: 15s;
}

.circles li:nth-child(15) {
    left: 150%;
    width: 100px;
    height: 250px;
    animation-duration: 12s;
}

.circles li:nth-child(16) {
    left: 160%;
    width: 100px;
    height: 250px;
    animation-duration: 7s;
}

.circles li:nth-child(17) {
    left: 170%;
    width: 100px;
    height: 250px;
    animation-duration: 6s;
}

.circles li:nth-child(18) {
    left: 0%;
    width: 100px;
    height: 250px;
    animation-duration: 80s;
}

@keyframes animate {
    0% {
        transform: translateY(0px) translateX(500px) rotate(45deg);
        opacity: 0.1;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: translateY(1500px) translateX(-1000px) rotate(45deg);
        opacity: 0.5;
    }
}

@media screen and (max-width: 600px) {
    .circles li {
        top: -400px;
    }
}
